#### Assignment 2 Data structuire

# Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
# We comment code in python by using # before any comment. For example... This answer is used by using comment

In [2]:
#another example 

#Python is not going to execute this line because its a comment i used by writing 3 in starting

print("This is my answer")

This is my answer

In [3]:
#there are 2 more types of comments

#1.

'''
anything i will right here will not be executed
'''
print("This will be executed")

This will be executed

In [5]:
#2.

"""
anything i will right here will not be executed
"""
print("This will be executed")

This will be executed

#Q2. What are variables in Python? How do you declare and assign values to variables?

In [6]:
# Variables are used to store data in python.Variables are names which are used to get a particular data either it can be a string data,float data,integer,bool,complex etc
# Variables can be alphabes,underscore,or alphabet with integer but it cant be integer only

# We assign value to the variable by using "=" (equal) sign.
# For example 

a = 12
b = 35545.345
Bool = True
B1 = 8+9j
_b = "yogendra"

In [7]:
a

12

In [8]:
b

35545.345

In [10]:
Bool

True

In [11]:
_b

'yogendra'

# Q3. How do you convert one data type to another in Python?

In [12]:
# We can use builtin functions of python like int , float , bool , str to convert one data type to another
# for example

a_int = 10
a_int = str(a_int)

In [14]:
type(a_int)

str

In [20]:
# as we know a_int was integer but , a_int = str(a_int) this converted integer data type to string data type
#lets take one more example

a_int = 330
a_int = float(a_int)

In [21]:
a_int

330.0

#Q4. How do you write and execute a Python script from the command line?

In [22]:
# don't know the amnswer

####  Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

In [28]:
my_list = [1,2,3,4,5]

In [29]:
sub_list = my_list[1:3]

In [34]:
sub_list

[2, 3]

#### Q6. What is a complex number in mathematics, and how is it represented in Python?

In [38]:
# Complex numbers are imaginary numbers in mathematics. In maths it is represented with the help of iota (i) 
# In python these are represented by using "j"
# For example
Comp = 1 + 2j

In [39]:
Comp

(1+2j)

In [40]:
type(Comp)

complex

#### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [42]:
age = 25

In [43]:
age

25

####  Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [44]:
price = 9.99

In [45]:
# this variable belongs to float datatype

type(price)

float

#### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [46]:
name = "Yogendra Chaurasiya"

In [47]:
print(name)

Yogendra Chaurasiya

#### Q10. Given the string "Hello, World!", extract the substring "World".

In [49]:
H = "Hello, World"

In [50]:
H1 = H[7:]

In [51]:
H1

'World'

#### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not

In [52]:
is_student = True

In [53]:
is_student

True